.menu{
    background: #006ACB;
}

.nav-link{
    background: #C1E4FF;
}

.nav-link:hover{
    color: #FFF;
}

.banner{
    margin-top: 130px;
}

.banner img{
    width: 100%;
}

.active{
    color: #FFF;
}

.fixed-top{
    background: white;
}