.menu{
    background: #006ACB;
}

.nav-link{
    background: #006ACB;
}

.nav-link:hover{
    color: #FFF;
}

.banner{
    margin-top: 130px;
}

.banner img{
    width: 100%;
}

.active{
    color: #a1c4e6;
}

.fixed-top{
    background: white;
}